@model T001.Model_View.View_Connections

@{
    ViewBag.Title = "Connections";
}

<h2>Connections</h2>

<div>
    <h4>View_Connections</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
