@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This project is under development. Please be with us and we'll come up with some of the fantastic functionality.</p>
