@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Group No. 4<br />
    AKGEC, Ghaziabad<br />
    <abbr title="Phone">P:</abbr>
    +91-9759235999
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:kumaraman7056@gmail.com">Support@example.com</a><br />
</address>