@using Chart.Mvc.Extensions
@using Chart.Mvc.ComplexChart
@model T001.Models.ProfileGraph
@{
    const string Canvas = "LineChart";
    var lineChart = new LineChart();

    //lineChart.ComplexData.Labels.AddRange(GraphCalculation.label);
    //lineChart.ComplexData.Datasets.AddRange(GraphLogicData.Datasets);

    lineChart.ComplexData.Labels.AddRange(Model._LineGraph_NoOfTweetsByDate.Label);
    lineChart.ComplexData.Datasets.AddRange(Model._LineGraph_NoOfTweetsByDate.Datasets);

}
<h3>@Canvas</h3>
<canvas id="@Canvas" width="400" height="400"></canvas>

@Html.CreateChart(Canvas, lineChart)
