.HomeLink {
    text-align: center;
}

.UserImage {
    width: 30px;
    height: 30px;
}

.Portfolio {
    padding-top: 25px;
}

.UserText {
    padding: 0px;
    margin: 0px;
}

.ScrollStyle {
    max-height: 250px;
    overflow-y: scroll;
}
